<div class="container mt-5">
    <h1>Add a cocktail</h1>

    <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, label: "Name" %>
        <%= f.input :description, label: "Description" %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
    <% end %>

</div>